[user]
	email = harold_lu@foxmail.com
	name = Harold Lu
[core]
	editor = vim
[init]
	defaultBranch = main
[credential]
	helper = store
[http]
	proxy = http://127.0.0.1:15732
[https]
	proxy = http://127.0.0.1:15732
